:root {
  --main-color: #eaeaea;
  --stroke-color: black;
}

.bigerrortext {
  margin: auto;
  color: var(--stroke-color);
  font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
  font-size: 10rem; line-height: 10rem;
  font-weight: 200;
  text-align: center;
}

.errortext {
  margin: auto;
  font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 200;
  text-align: center;
}

h1, h2 {
  -webkit-transition: opacity 0.5s linear, margin-top 0.5s linear; /* Safari */
  transition: opacity 0.5s linear, margin-top 0.5s linear;
}

.loading h1, .loading h2 {
  margin-top: 0;
  opacity: 0;
}