.icon-evotor-folder-open{
	background:url('icon-8/16/live-folder-16.png') no-repeat center center;
}

.icon-evotor-folder-opened{
	background:url('icon-8/16/opened-folder-16.png') no-repeat center center;
}

.icon-evotor-folder{
	background:url('icon-8/16/folder-16.png') no-repeat center center;
}

.icon-evotor-folder-sub{
	background:url('icon-8/16/folder-sub-16.png') no-repeat center center;
}

.icon-evotor-folder-private{
	background:url('icon-8/16/private-folder-16.png') no-repeat center center;
}

.icon-evotor-folder-add{
	background:url('icon-8/16/add-folder-16.png') no-repeat center center;
}

.icon-evotor-folder-delete{
	background:url('icon-8/16/delete-folder-16.png') no-repeat center center;
}

.icon-evotor-folder-user{
	background:url('icon-8/16/user-folder-16.png') no-repeat center center;
}

.icon-evotor-folder-downloads{
	background:url('icon-8/16/downloads-folder-16.png') no-repeat center center;
}

.icon-evotor-folder-internet{
	background:url('icon-8/16/internet-folder-16.png') no-repeat center center;
}

.icon-evotor-home{
	background:url('icon-8/16/home-16.png') no-repeat center center;
}

.icon-evotor-bookmark{
	background:url('icon-8/16/bookmark-16.png') no-repeat center center;
}

.icon-evotor-delete{
	background:url('icon-8/16/delete-16.png') no-repeat center center;
}

.icon-evotor-document{
	background:url('icon-8/16/document-16.png') no-repeat center center;
}

.icon-evotor-edit{
	background:url('icon-8/16/edit-16.png') no-repeat center center;
}

.icon-evotor-info{
	background:url('icon-8/16/info-16.png') no-repeat center center;
}

.icon-evotor-refresh{
	background:url('icon-8/16/refresh-16.png') no-repeat center center;
}

.icon-evotor-search{
	background:url('icon-8/16/search-16.png') no-repeat center center;
}

.icon-evotor-services{
	background:url('icon-8/16/services-16.png') no-repeat center center;
}

.icon-evotor-settings{
	background:url('icon-8/16/settings-16.png') no-repeat center center;
}
.icon-evotor-support{
	background:url('icon-8/16/support-16.png') no-repeat center center;
}

.icon-evotor-synchronize{
	background:url('icon-8/16/synchronize-16.png') no-repeat center center;
}

.icon-evotor-upload-to-the-cloud{
	background:url('icon-8/16/upload-to-the-cloud-16.png') no-repeat center center;
}